https://www.facebook.com/messages
https://gitter.im
https://slack.com
https://twitter.com
https://getpocket.com
http://www.rightrelevance.com/
https://inbox.google.com/
https://web.skype.com/
https://feedly.com/
http://news.ycombinator.com
https://github.com
https://trello.com/
